* {
    box-sizing: border-box;
}

:root {
    /*<576px*/
    --wigth-default: 100vw;
    --height-default: 70vh;
    /*≥576px*/
    --wigth-sm: 80vw;
    --height-sm: 70vh;
    /*≥768px*/
    --wigth-md: 70vw;
    --height-md: 60vh;
    /*≥992px*/
    --wigth-lg: 60vw;
    --height-lg: 60vh;
    /*≥1200px*/
    --wigth-xl: 40vw;
    --height-xl: 50vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
}

body[data-theme='dark'] {
    --color-text: #ffffff;
    --color-bg: #202c37;
    --color-bg-menu: #394e60;
    --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme='light'] {
    --color-text: #3b3b3b;
    --color-bg: #fafafa;
    --color-bg-menu: #d7d7d7;
    --shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

